{% extends 'base.html.twig' %}
{% block body %}


{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

<div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>
<div class="container card shadow mt-4" style="width: 400px">
    <div class="card-header" style="background-color: #fff;">
        <h3 class="card-title">Changer le mot de passe</h3>
    </div>
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    <div>Mot de passe actuel</div>
    <div>{{ form_widget(form.current_password )}}</div>
    <div>Nouveau mot de passe</div>
    <div> {{ form_widget(form.plainPassword.children['first'])}} </div>
    <div>Confirmer nouveau mot de passe </div>
    <div>{{ form_widget(form.plainPassword.children['second']) }}</div>
    <div class="float-right mt-4 "> <input class ="btn btn-success" type="submit" value="Confirmer" />
    </div>
<div>
</div>
{{ form_end(form) }}
{% endblock body %}

