{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h3>Panier</h3>
        <div class="row flex">
            {% for product in cart %}
                <div class="col-3">
                    <div class="card shadow mt-4">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('product.view', {'id': product.id}) }}">{{ product.title }}</a>
                            </h5>
                            <p class="card-text">{{ product.description }}</p>
                            <h3 class="text-primary">{{ product.price }} $</h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <h3 class="mt-4"><b>Total : </b>{{ total }} $</h3>
    </div>
{% endblock %}